name: Validate Integration

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: HACS Action Check
        # This is the dedicated repo for custom component validation
        uses: hacs/action@main
        with:
          category: integration
          ignore: []

      - name: Check for Python Syntax Errors
        run: |
          python3 -m py_compile custom_components/hue_smooth_dimming/*.py
